<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
      <li>{{this.name}} - {{this.price}}</li>
    {{/each}}
  </ul>
</body>
</html>